<tr><td style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0;"><table class="overbody content-in" cellspacing="0" cellpadding="0" style="border-collapse: collapse; margin: 0 auto; border: 0;"><tbody>
<tr>
	<td class="full" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; min-width: 580px; width: 580px; text-align: center; background-color: #ffffff;">
		<table class="full" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto; border: 0; min-width: 580px; width: 580px;">
			<tr><td width="580" height="30" class="full" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; min-width: 580px; width: 580px; text-align: center; background-color: #ffffff;">&nbsp;</td></tr>
		</table>
	</td>
</tr>
<tr>
	<td class="full" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; min-width: 580px; width: 580px; text-align: center; background-color: #ffffff;">
		<table class="full" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto; border: 0; min-width: 580px; width: 580px;">
			<tr>
				<td width="30" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; text-align: center; background-color: #ffffff;">&nbsp;</td>
				<td width="520" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; text-align: left; background-color: #ffffff;">
					{{ 'resetting.email.message'|trans({}, 'FOSUserBundle')|nl2br|replace({'%confirmationUrl%': '<a href="'~confirmationUrl~'" target="_blank">'~confirmationUrl~'</a>'})|raw }}
				</td>
				<td width="30" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; text-align: center; background-color: #ffffff;">&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="full" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; min-width: 580px; width: 580px; text-align: center; background-color: #ffffff;">
		<table class="full" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto; border: 0; min-width: 580px; width: 580px;">
			<tr><td width="580" height="30" class="full" style="-webkit-text-size-adjust: 100%; font-family: Arial, Arial CE, Helvetica, sans-serif; padding: 0; min-width: 580px; width: 580px; text-align: center; background-color: #ffffff;">&nbsp;</td></tr>
		</table>
	</td>
</tr>
</tbody></table></td></tr>